.imagen {
    width: 400px;
    height: 550px;
    text-align: center;
}

h1 {
    text-align: center;
}

.contenedor {
    text-align: center;
}

.texto {
    color: brown;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

body {
    background-color: chocolate;
}